<.header>
  Edit Client
  <:subtitle>Editing client {@client.name}</:subtitle>
</.header>

<.live_component
  module={CabinetWeb.AdminLive.Client.FormComponent}
  id="edit-client"
  client={@client}
  cancel={JS.patch(~p"/admin/client/#{@client.id}", replace: true)}
/>
