<.header>
  {@client.name}
  <:subtitle>{@client.shortcode}</:subtitle>

  <:actions>
    <.button variant="primary" patch={~p"/admin/client/#{@client.id}/edit"} replace>Edit</.button>
  </:actions>
</.header>

<section>
  <h2 class="text-md font-mono leading-4 pb-4">Invoices</h2>

  <CabinetWeb.AdminLive.Common.invoice_table
    invoices={@invoices}
    row_click={fn {_, i} -> JS.navigate(~p"/admin/invoice/#{i.id}") end}
    new_click="add-invoice"
  />
</section>
