<Layouts.admin
  current_scope={@current_scope}
  current_view={:client}
  title={@client.name}
>
  <div class="space-y-12">
    <.client_edit :if={@live_action == :edit} client={@client} />
    <.client_view :if={@live_action != :edit} client={@client} invoices={@streams.invoices} />
  </div>
</Layouts.admin>
